<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
<!--            <ThresholdFilter level="${console.thresholdFilter}"/>-->
            <PatternLayout pattern="%d %-5p [%t] %c{10} - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="io.averkhoglyad" level="debug" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>